html{
    scroll-behavior: smooth;
    text-wrap: balance;
    max-width: fit-content;
}

p{
    margin: 10px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

h1{
    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-align: center;
}

.titulo::after{
    content: "🍽️"
}


h2{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

h2::after{
    content: "🏜️";
}


a{
    color: white;
}

/* El header en sí no tiene contenido, es como una caja vacía en la que va el nav */

header{
    height: 15px;

}

/* El nav es lo que va dentro del header. Es decir, las letras, el color, la disposición... Todo lo que ves aquí abajo.*/

nav{
    display: flex;
    justify-content: space-around;
    background-color:black;
    width:100%;
    position: fixed;
    height: 40px;
}


.caja-titulo-subtitulo{

    background-color: black;
    height:150px;
    text-transform: uppercase;
    margin-top:25.3px;

}

.titulo,.subtitulo{
    color: white;
}

.secciones{
    font-weight:bold;
    font-style: oblique;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.letra-encabezado{
    color:aqua;
    margin: 5px;
    font-size: 14px;
}

.caja-imagenes-sobre-nosotros{
    display: flex;
    max-width: 150px;
    height: 250px;
    margin: 30px;
}

.quienes-somos{
    color: black;
    text-transform: uppercase;
}

.fotos-desc{
    padding-top: 120px;
    height:250px;
    width:160px;
}

.fotos-desc:hover{
 transform: scale(1.1); /* Ejemplo: aumentar ligeramente el tamaño */
  transition: transform 0.3s ease; /* Transición suave */
  filter: blur(0.2px); 
  /* Aplicación de filtros */
}

.caja-sobre-nosotros{
    display: flex;
    text-wrap: balance;
}

h3{
    text-align: center;
    font-weight: bold;
    font-style:normal;
    font-size: 40px;
    font-style: oblique;
    color: rgb(51, 39, 179);
}

.parrafo-intro{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 30px;
}

.seccion-platos{
    background-color: black;
    padding: 3rem 2rem;
    margin: auto;
}


#especialidades{
    color: white;
    text-transform: uppercase;
}

.presentacion-especialidades{
color: white;
  font-family: sans-serif;
  text-align:center;
  margin: 0px 10px 50px 0px;
  
}

.items {
  display: flex;
  gap: 3rem;
  justify-content: center;
}

.comidas{
display: flex;
justify-content: center;
}

.comidas img{
    border-radius: 50%;
}

.comidas:hover{
    transform: scale(1.1); /* Ejemplo: aumentar ligeramente el tamaño */
  transition: transform 0.3s ease; /* Transición suave */
  filter: blur(0.2px); 
  /* Aplicación de filtros */
}


.desc-especialidades{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
}

.parrafo-contacto{
    font-size: small;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}

#contacto{
color: white;

}
.encabezado-contacto{
color: white;
text-align: center;

}
/* Cuando quieras organizar los elementos de cierta forma, primero debes agruparlos todos en un div padre. Después, si son elementos diferentes como en este caso (info de contacto y un mapa), debemos meter cada grupo de elementos en subdivs hijos. Después debes aplicar estilos de disposición al div padre para que los div hijos "obedezcan" esa disposición. Lee el siguiente código: */

.info-contacto {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px; /* espaciado entre bloques */
    flex-wrap: wrap; /* para adaptarse en pantallas pequeñas */
    background-color: black;
    padding: 20px 5px 20px 20px;

}
.mapa-bar{
margin: auto;
}

#instagram:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease;
   
}

.items h4{
    color: white;
    text-align:center;
    font-size: larger;
    text-transform: uppercase;
}

.footer{
    background-color: aqua;
}